/* ====== FOOTER ====== */

#page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5em;
  font-size: 1rem;
  background-color: var(--color-background-primary);
  padding: 0.6250em 0;
  position: sticky;
  bottom: 0;
  height: auto;
  z-index: 100;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.footer-btn {
  padding: 8px 16px;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: none; 
  pointer-events: none;
}
.footer-btn.visible {
  display: block;
  pointer-events: auto;
}
.footer-btn.visible:hover {
  background-color: var(--color-secnd-btn-hover) !important;
  transform: translateY(-2px);
}
.footer-btn.visible:focus {
  outline: 3px solid var(--color-link-focus);
  outline-offset: 3px;
}
.icon {
  display: none;
}

@media (max-width: 390px) {
  #page-footer {
    gap: 1em;
  }
  .name {
    padding: 0;
    margin: 0;
    display: none;
  }
  .footer-btn .text {
    display: none;
  }
  .icon {
    display: inline;
  } 
}
