:root {
  /* Brand Colors */
  --color-primary: #137dae; /* Calming Blue – Primary Brand Color */
  --color-secondary: #b15d5d; /* Dewy Mauve – Secondary Accent Color */

  /* Text Colors */
  --color-text-primary: #1d1b1b; /* Dark Gray – Primary body text, main headings */
  --color-text-secondary: #222222; /* Medium Gray – Secondary text, subheadings */
  --color-text-tertiary: #444444; /* Gray – Hints, captions, small labels */

  /* Interactive / Link States */
  --color-secnd-btn-hover: #c37f7f; /* Button Hover Light Mauve*/
  --color-link-default: #1d1b1b; /* Primary Text – Link color */
  --color-link-hover: #1a47b8; /* Hover state for links */
  --color-link-active: #20497e; /* Active state for links */
  --color-link-focus: #843e3e; /* Focus state for accessibility */
  --color-link-visited: #951d7f; /* Visited link color */

  /* Status Colors */
  --color-error: #dd1709; /* Deep Red – Error messages */
  --color-success: #0f9d58; /* Strong Green – Success messages */
  --color-warning: #f4b400; /* Amber – Warning messages */
  --color-info: #4285f4; /* Blue – Informational messages */

  /* Background Colors */
  --color-background-primary: #f8f8f8; /* Very Light Gray – Page background */
  --color-background-disabled: #f2f2f2; /* Light Gray – Disabled components */

  /* Border Colors */
  --color-border-light: #e0e0e0; /* Very Light Gray – Light borders */
  --color-border-medium: #cccccc; /* Light Gray – Medium emphasis borders */

  /* Neutrals */
  --color-black: #000000; /* Black – High contrast text on light backgrounds */
  --color-white: #ffffff; /* White – Background or text on dark backgrounds */
}
/* ====== BASIC-STYLE ====== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Trebuchet MS", sans-serif, system-ui;
  background-color: #fff;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* ====== SCREENREADER ONLY ====== */

.sr-only-hamburger {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
